<%= form_with url: user_recipes_path, model: recipe do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"border border-solid p-1 p-1" %>
  </div>

  <div class="mb-4">
    <%= form.label :preparation_time, style: "display: block" %>
    <%= form.number_field :preparation_time, class:"border border-solid p-1" %>
  </div>

  <div class="mb-4">
    <%= form.label :cooking_time, style: "display: block" %>
    <%= form.number_field :cooking_time, class:"border border-solid p-1" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class:"border border-solid p-1" %>
  </div>

  <div class="mb-4">
    <%= form.label :public, style: "display: block" %>
    <%= form.check_box :public, class:"border border-solid p-1" %>

  </div>

  <div class="mb-4">
    <%= form.hidden_field :user_id, value: params[:user_id] %>
  </div>

  <div class="mt-11 border-solid p-1 rounded-md border-2 borde  r-slate-200 p-2 bg-gray-50 hover:bg-slate-400 text-center">
    <%= form.submit %>
  </div>
<% end %>
