<%= form_with url: user_recipes_path, model: recipe do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"w-full px-4 py-3 border-solid" %>
  </div>

  <div class="mb-4">
    <%= form.label :preparation_time, style: "display: block" %>
    <%= form.number_field :preparation_time, class:"w-full px-4 py-3 border-solid" %>
  </div>

  <div class="mb-4">
    <%= form.label :cooking_time, style: "display: block" %>
    <%= form.number_field :cooking_time, class:"w-full px-4 py-3 border-solid" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class:"w-full px-4 py-3 border-solid" %>
  </div>

  <div class="mb-4">
    <%= form.label :public, style: "display: block" %>
    <%= form.check_box :public %>

  </div>

  <div class="mb-4">
    <%= form.hidden_field :user_id, value: params[:user_id] %>
  </div>

  <div class="cursor-pointer">
    <%= form.submit %>
  </div>
<% end %>