<div id="<%= dom_id recipe %>" class="w-full mb-10 border-b-2 border-slate-700">
  <p class="mb-10 mt-6 w-fill text-center text-4xl">
    <%= recipe.name %>
    <div class="flex flex-col">
<div class="flex w-full items-center px-10 pb-5 justify-between">
<div>
  </p>

  <p class="w-auto flex justify-between gap-6 text-xl mt-4 border-2 p-2 rounded">
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %> hours
  </p>

  <p class="w-auto gap-6 flex justify-between text-xl mt-4 border-2 p-2 rounded">
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %> hours
  </p>
  <p class="w-auto gap-6 flex justify-between text-xl mt-4 border-2 p-2 rounded">
    <strong>steps:</strong>
    <%= recipe.description %>
  </p>
</div>
<div class="self-start">
      <div class="flex gap-5 items-center ">
        <strong class="text-xk">Public</strong>
        <% if recipe.public %>
          <div class="rounded-full w-5 h-5 bg-green-500"></div>
        <% else %>
          <div class="rounded-full w-5 h-5 bg-red-500"></div>
          <%end%>
      </div>
  </div>
  </div>
  <div class="flex px-10 w-full justify-between border-none">
    <%= link_to "General shoping list", user_recipe_shopinglists_path(params[:user_id],params[:id]), class:"border-slate-700 rounded-md border-2 p-2 bg-gray-50 text-slate-700 hover:bg-black hover:text-white text-center mb-4"%>
    <%= link_to "Add ingredient", new_user_recipe_recipe_food_path(params[:user_id],params[:id]), class:"border-slate-700 rounded-md border-2 p-2 bg-gray-50 text-slate-700 hover:bg-black hover:text-white text-center mb-4"%>
</div>
  </div>
  
</div>
