<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

 <div id="recipes">
  <% @recipes.each do |recipe| %>
    <h2>
      <%= recipe.name %>
    </h2>
    <p>
    <%=recipe.description%>
    </p>
    <%= link_to "recipe details", user_recipe_path(params[:user_id],recipe.id) %>
  <% end %>
</div>


<%= link_to "New recipe", new_user_recipe_path %>
