<div class="w-[80%] flex flex-col items-center">

<%= render @recipe %>
<div class="flex gap-5">
    <%= link_to "add ingredeints", new_user_recipe_recipe_food_path(params[:user_id],params[:id]), class:"border-slate-700 rounded-md border-2 p-2 bg-gray-50 text-slate-700 hover:bg-black hover:text-white text-center mb-4"%>
    <%= link_to "general shooping list", user_recipe_shopinglists_path(params[:user_id],params[:id]), class:"border-slate-700 rounded-md border-2 p-2 bg-gray-50 text-slate-700 hover:bg-black hover:text-white text-center mb-4"%>
</div>
    <% @recipefoods.each do |foods| %>
    sup
     <table class="mb-20 border-2 text-left w-[80vw] border-slate-700" class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 p-4">
        <tr>
          <th class="text-xs text-white uppercase bg-gray-700 p-4">Food</th>
          <th class="text-xs text-white uppercase bg-gray-700 p-4">Quantity</th>
          <th class="text-xs text-white uppercase bg-gray-700 p-4">Value</th>
          <th class="text-xs text-white uppercase bg-gray-700 p-4 text-center">Action</th>
        </tr>
        <tr>
            <td class="p-4 font-medium"><%= foods.food.name %></td>
            <td class="p-4 font-medium"><%= foods.quantity %></td>
            <td class="p-4 font-medium"><%= foods.food.price * foods.quantity %></td>
             <% if user_signed_in? %>
                  <td>
                  <%= link_to "Modify",edit_user_recipe_path(params[:user_id], params[:id], foods.id), method: :edit, class:"p-4 font-medium hover:text-green-400"  %>
                  <%= link_to "Remove",user_recipe_food_path(params[:user_id], params[:id], foods.id),data: {turbo_method: :delete}, class:"p-4 font-medium hover:text-red-500"  %>
                  </td>  
            <% end %>
        </tr>
    <% end %>
  </table>
  <div class="self-start">
    <%= link_to "Back to recipes", root_path, class:"text-white rounded-md p-2 bg-slate-700 hover:bg-white hover:text-slate-700 hover:border-2 hover:border-slate-700" %>
  </div>
</div>




