<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= user.name%>
    <p>
      <%= link_to "Show this user", user %>
      <%= link_to "Show this user", new_user_recipe_food %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_session_path %>
