<tr id="<%= dom_id food %>" class="border-b-2 bg-white text-slate-700 border-slate-700">

  <td class="p-4 font-medium">
    <strong>Name:</strong>
    <%= food.name %>
  </td>

  <td class="p-4 font-medium">
    <strong>Measuement unit:</strong>
    <%= food.measuement_unit %>
  </td>

  <td class="p-4 font-medium">
    <strong>Price:</strong>
    <%= food.price %>
  </td>

  <td class="p-4 font-medium">
    <strong>Quantity:</strong>
    <%= food.quantity %>
  </td>

  <td class="p-4 font-medium">
    <strong>User:</strong>
    <%= food.user_id %>
  </td>

</tr>
